/*Name:Rohit Rajbanshi
  UN ID:17425093*/

*{ /* This property applies to all the contents*/
	margin: 0;
	padding: 0;
}
body{
	background-color: #CFD8DC;
}
nav{
	padding-top: 50px;
}
nav h1{
	font-size: 1.5em;
	padding-left: 355px;
	width: 279px;
}
nav ul{
	list-style-type: none; /*To remove dot from list items*/
	display: flex;
	justify-content: center;/* This property is used to keep the items in center */
}
.first{
	font-size: 1.55em;
	position: relative;/*This property is used inorder to make the content move*/
	right: 60px;
}
nav a.current{/*Used for indicating the current page*/
	color:#283593;
}
nav a{
	text-decoration: none;/*To remove underline*/
	padding-right: 10px;
	color: gray;
	padding-left: 15px;
	display: block;
	font-size: 1.5em;
}
section{
	display: flex;
	flex-direction: row;/*To make items appear in row*/ 
}
.content{
	width: 60%;
	padding-top: 50px;
	padding-left: 20px;
	color: black;
}
.content p{
	font-size: 1.45em;
	font-family: 'EB Garamond', serif;/*Google font used*/
}
.content h1{
	font-family: 'Berkshire Swash', cursive;/*Google font used*/
	text-shadow: 3px 3px white;
	color: gray;
	font-size: 2.5em;
}
.image{
	width: 40%;
}
.image img{
	height: 650px;
	width: 480px;
	padding-left: 50px;
}
footer{
	background-color: #311B92;
	display: flex;
	flex-direction: row;/*Contents are arranged in the same row*/
	justify-content: space-around;/*To give space between the items*/
	color: white;
	padding-top: 25px;
}
footer p{
	font-size: 1.25em;
	padding-top: 10px;
}
.contact{
	display: flex;/*Items are made to appear side to side*/
}
.contact img,.icons img{
	height: 50px;
	width: 50px;
}
.mail a{
	text-decoration: none;
	color: white;
}
.twitter, .facebook, .instagram{ /*animation used */
	opacity:1;/*For making contents glow brighter*/
	transition: 1s ease;
}
.twitter:hover, .facebook:hover, .instagram:hover{
	opacity: 0.5;/*To make contents dimmer*/
}
@media (max-width: 800px){ /*this property is used to make items responsive*/
	nav{
		padding-top: 0;
	}
	nav ul{
		display: flex;
		flex-direction: column;/*this property is used to make items appear in column*/
	}
	nav h1{
		padding-left: 0;
		display: none;/*The heading is made hidden in mobile view*/
	}
	nav{
		padding-left: 0px;
		width: 100%;
	}
	.first{
		display: none;/*Used to make item disappear in mobile view*/
	}
	section{
		padding-top: 35px;
		display: flex;
		flex-direction:column-reverse;/*Used to make items appear in column*/
	}
	.image{
		width: 100%;
	}
	.image img{
		width: 300px;
		height:500px;
	}
	.content{
		width: 100%;
		padding: 0;
	}
	.content p{
		font-size: 1.2em;
	}
	.content h1{
		font-size: 2em;
	}
	footer{
		display: flex;
		flex-direction: column;/*Used to make items appear in column*/
		height: 190px;
		padding-left: 25px;
		width: 100%;
	}
}