/*Name:Rohit Rajbanshi
  UN ID:17425093*/

*{ /* This property applies to all the contents*/
	margin: 0;
	padding: 0;
}
body{
	background-color: #CFD8DC;
	color: gray;
}
nav{
	padding-top: 50px;
}
nav h1{
	font-size: 1.5em;
	padding-left: 355px;
	width: 279px;
}
nav ul{
	list-style-type: none;/*To remove the bullets of the list items*/
	display: flex;
	justify-content: center;/*To make items appear in center*/
}
.first{
	font-size: 1.55em;
	position: relative;/*This property is used so that items can be moved */
	right: 60px;
}
nav a.current{ /* This property is used to indicate on which page the user is currently on */
	color:#283593;
}
nav a{
	text-decoration: none;/*To remove underline*/
	padding-right: 10px;
	color: gray;
	padding-left: 15px;
	display: block;
	font-size: 1.5em;
}
section{
	display: flex;
	flex-direction: row;/*To make items appear in row*/
	height: 500px;
}
.heading{
	width: 50%;
	padding-top: 70px;
}
.heading h1{
	font-family: 'EB Garamond', serif;/*Google font used*/
	color: black;
	font-size: 3em;
	padding-left: 45%;
}
.form{
	padding-top: 50px;
}
input[type="text"]{
	border:0px;
	background-color: #64B5F6;
	height: 25px;
	width: 446px;
}
input[type="email"]{
	background-color: #64B5F6;
	height: 25px;
	width: 446px;
	border:0px;
}
input[type="text"]:focus{
	background-color: rgba(22,245,122,0.8);
}
input[type="email"]:focus{
	background-color: rgba(22,245,122,0.8);
}
textarea:focus{
	background-color: rgba(22,245,122,0.8);
}
::-webkit-input-placeholder{
	padding-left: 10px;
	color: #FAFAFA;
	opacity: 0.9;
}
.lastname{
	padding-top: 5px;
}
.email{
	padding-top: 5px;
}
.message{
	padding-top: 5px;
}
textarea{
	background-color: #64B5F6;
	height: 150px;
	width: 446px;
}
button{
	position: relative;
	left: 79%;
	border:0;
	background-color: #3D818F;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #006599;/*to give shadow to the div*/
	color: yellow;
	cursor: pointer;
	font-size: 1.125em;
	margin: 0;
	padding: 10px 20px;
	transition: all .1s linear; /* Transition property used to make button more attractive */
}
button:active{	/* used to make button look attractive */
	text-shadow: 1px 2px green;
	box-shadow: 4px 3px 4px #005566;
	transform: translateY(5px);/*To make the button shift 5px down on click*/
}
footer{
	background-color: #311B92;
	display: flex;
	flex-direction: row;/*Used to make items appear in row*/
	justify-content: space-around;
	color: white;
	padding-top: 25px;
}
footer p{
	font-size: 1.25em;
	padding-top: 10px;
}
.contact{
	display: flex;
}
.contact img,.icons img{
	height: 50px;
	width: 50px;
}
.mail a{
	text-decoration: none;
	color: white;
}
.twitter, .facebook, .instagram{ /*animation used */
	opacity:1;
	transition: 1s ease;
}
.twitter:hover, .facebook:hover, .instagram:hover{
	opacity: 0.5;
}
@media (max-width: 800px){ /*this property is used to make items responsive*/
	nav{
		padding-top: 0;
	}
	nav ul{
		display: flex;
		flex-direction: column;/*this property is used to make items appear in column*/
	}
	nav h1{
		padding-left: 0;
		display: none;/*The heading is made hidden in mobile view*/
	}
	nav{
		padding-left: 0px;
		width: 100%;
	}
	.first{
		display: none;/*Used to make item disappear in mobile view*/
	}
	section{
		display: flex;
		flex-direction: column;/*Used to make items appear in column*/
	}
	.heading{
		width: 100%;
	}
	.heading h1{
		padding-left: 25px;
		font-size: 2em;
	}
	.form{
		width: 100%;
	}
	input[type="text"]{
		width: 300px;
	}
	input[type="email"]{
		width: 300px;
	}
	textarea{
		width: 300px;
	}
	button{
		position: relative;
		left: 0%;
	}
	footer{
		display: flex;
		flex-direction: column;/*Used to make items appear in column*/
		padding-left: 25px;
		height:190px;
		width: 100%;
	}
}
