/*Name:Rohit Rajbanshi
  UN ID:17425093*/

*{ /* This property applies to all the contents*/
	margin: 0;
	padding: 0;
}
body{
	background-color: #CFD8DC;
	color: gray;
}
nav{
	padding-top: 50px;
}
nav h1{
	font-size: 1.5em;
	padding-left: 355px;
	width: 279px;
}
nav ul{
	list-style-type: none; /*To remove dot from the list items*/
	display: flex;
	justify-content: center; /* This property is used to keep the items in center */
}
.first{
	font-size: 1.55em;
	position: relative;/*This property is used so that items can be moved */
	right: 60px;
}
nav a.current{
	color:#283593;
}
nav a{
	text-decoration: none; /*This property is used to remove underline*/
	padding-right: 10px;
	color: gray;
	padding-left: 15px;
	display: block;
	font-size: 1.5em;
}
.heading{
	background-color: silver;
	height: 150px;
}
.heading h1{
	font-family: 'Berkshire Swash', cursive;/*Google font used*/
	font-size: 3.6em;
	padding-top: 35px;
	padding-left: 35px;
	color: white;
	text-shadow: 4px 4px gray;
}
.image{
	position: relative;/*This property is used so that items can be moved */
	top: -70px;
	padding-left: 46%;
}
.image img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid #FFECB3;
	transition: all .9s; /*Animation effect */
}
.image img:hover{
	transform: scale(1.2);/* This property is used inorder to zoom the image*/
	cursor: pointer;
}
.firstcontent{
	display: flex;
	flex-direction: row;/*This property is used to make items appear in row*/
}
.study{
	width: 55%;
	padding-left: 20px;
}
.firstcontent h3,.lastcontent h3{
	font-family: 'Berkshire Swash', cursive;/*Google font used*/
	font-size: 2.325em;
	color: #F50057;
}
.firstcontent p,.lastcontent p{
	font-family: 'EB Garamond', serif;/*Google font used*/
	font-size: 1.25em;
	color: black;
}
.coursework{
	padding-top: 20px;
}
.skills{
	width: 45%;
}
.comp{
	background-color: #9FA8DA;
	width: 75%;
}
.comp p{
	padding-left: 18px;
	color: #1A237E;
}
.photoshop{
	background-color: #E91E63;
	width: 50%;
}
.html{
	background-color: #00838F;
	width: 80%;
}
.css{
	background-color: #E91E63;
	width: 70%;
}
.office{
	background-color: #00838F;
	width: 78%;
}
.other{
	padding-top: 20px;
}
.lastcontent{
	padding-top: 20px;
	display: flex;
	flex-direction: row;
}
.profession{
	width:55%;
}
.activities{
	width: 45%;
}
footer{
	background-color: #311B92;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	padding-top: 25px;
}
footer p{
	font-size: 1.25em;
	padding-top: 10px;
}
.contact{
	display: flex;
}
.contact img,.icons img{
	height: 50px;
	width: 50px;
}
.mail a{
	text-decoration: none;
	color: white;
}
.twitter, .facebook, .instagram{ /*animation used */
	opacity:1;
	transition: 1s ease;
}
.twitter:hover, .facebook:hover, .instagram:hover{
	opacity: 0.5;
}
@media (max-width: 800px){ /*this property is used to make items responsive*/
	nav{
		padding-top: 0;
	}
	nav ul{
		display: flex;
		flex-direction: column;/*this property is used to make items appear in column*/
	}
	nav h1{
		padding-left: 0;
		display: none;
	}
	nav{
		padding-left: 0px;
		width: 100%;
	}
	.first{
		display: none;
	}
	.heading{
		height: 100px;
	}
	.heading h1{
		font-size: 2.285em;
		padding-top: 10px;
	}
	.image{
		padding-top: 25px;
		right: 30px;
	}
	.image img{
		width: 100px;
		height: 100px;
	}
	.firstcontent{
		display: flex;
		flex-direction: column;
		position: relative;
		bottom: 45px;
	}
	.lastcontent{
		display: flex;
		flex-direction: column;
		padding-left: 5px;
		position: relative;
		top:-45px;
	}
	.firstcontent h3, .lastcontent h3{
		font-size: 2em;
	}
	.firstcontent p, .lastcontent p{
		font-size: 1.2em;
	}
	.study{
		width: 100%;
		padding-left: 5px;
	}
	.skills{
		width: 100%;
		padding-left: 5px;
	}
	.comp{
		width: 65%;
	}
	.profession{
		width: 100%;
	}
	.activities{
		width: 100%;
	}
	footer{
		display: flex;
		flex-direction: column;
		padding-left: 25px;
		height:190px;
		width: 100%;
	}
}
