/*Name:Rohit Rajbanshi
  UN ID:17425093*/

*{ /* This property applies to all the contents*/
	margin: 0;
	padding: 0;
}
body{
	background-color: #CFD8DC;
	color: black;
}
nav{
	padding-top: 50px;
}
nav h1{
	font-size: 1.5em;
	padding-left: 355px;
	width: 279px;
}
nav ul{
	list-style-type: none;/*To remove dot from list items*/
	display: flex;/*Used to make items appear in row*/
	justify-content: center;/*To make items appear in center*/
}
.first{
	font-size: 1.55em;
	position: relative;/*To make items move*/
	right: 60px;
}
nav a.current{  /* This property is used to indicate on which page the user is currently on*/
	color:#283593;
}
nav a{
	text-decoration: none;/*To remove underline*/
	padding-right: 10px;
	color: gray;
	padding-left: 15px;
	display: block;
	font-size: 1.5em;
}
.section{
	display: flex;
	flex-direction: row; /*This property is used to make items appear in row*/
}
.section h1{
	font-size: 3.55em;
	color: #D50000;
}
.section p{
	font-size: 1.55em;
	color: black;
}
section img{
	border-radius: 50%;/*To make image appear circular*/
	height: 370px;
	width: 350px;
	border:1px solid white;
}
.image{
	padding-top: 100px;
	width: 40%;
	padding-left: 330px;
}
.contents{
	padding-top: 60px;
	width: 60%;
}
.contents h3{
	font-size: 1.755em;
}
.contents p{
	font-size: 1.25em;
	font-family: 'EB Garamond', serif; /*Google font used*/
}
.links{
	display: flex;
	flex-direction: row;/*Used to make items appear in row*/
	justify-content: space-around;/*To give space between the contents*/
}
.links a{
	text-decoration: none;/*To remove underline*/
	color: white;
	display: block;
}
.link1{
	height: 120px;
	width: 120px;
	background-color: #00E676;
	transition: background-color 1s;/*Animation used to change background color*/
	border-radius: 50%;
	text-align: center;/*used to keep texts in the center*/
}
.link1:hover{
	background-color:#1B5E20;
}
.link1 h2, .link2 h2, .link3 h2{
	padding-top: 50px;
}
.link2{
	height: 120px;
	width: 120px;
	background-color: #1565C0;
	transition: background-color 1s;/*Animation used to change background color*/
	border-radius: 50%;
	text-align: center;/*making the texts to appear in center*/
}
.link2:hover{
	background-color: #1A237E;
}
.link3{
	height: 120px;
	width: 120px;
	background-color:#FF8F00; 
	transition: background-color 1s;/*Animation used to change background color*/
	border-radius: 50%;
	text-align: center;
}
.link3:hover{
	background-color: #E65100;
}
footer{
	background-color: #311B92;
	display: flex;
	flex-direction: row;/*Used to make items appear in row*/
	justify-content: space-around;/*To give space between the items*/
	color: white;
	padding-top: 25px;
}
footer p{
	font-size: 1.25em;
	padding-top: 10px;
}
.contact{
	display: flex;
}
.contact img,.icons img{
	height: 50px;
	width: 50px;
}
.mail a{
	text-decoration: none;
	color: white;
}
.twitter, .facebook, .instagram{ /*animation used */
	opacity:1;
	transition: 1s ease;
}
.twitter:hover, .facebook:hover, .instagram:hover{
	opacity: 0.5;
}
@media (max-width: 800px){ /*this property is used to make items responsive*/
	nav{
		padding-top: 0;
	}
	nav ul{
		display: flex;
		flex-direction: column;/*this property is used to make items appear in column*/
	}
	nav h1{
		padding-left: 0;
		display: none;/*Heading is made hidden*/
	}
	nav{
		padding-left: 0px;
		width: 100%;
	}
	.first{
		display: none;/*To make item disapper in mobile view*/
	}
	.section{
		display: flex;/*Used to make items appear in column*/
		flex-direction: column-reverse;
	}
	.image{
		width: 100%;
		padding:0px 30px;
	}
	.image img{
		height: 250px;
		width: 250px;
	}
	.contents{
		width: 100%;
	}
	.contents h1, h3{
		padding-left: 15px;
	}
	.link1, .link2, .link3{
		height: 80px;
		width: 80px;
	}
	.link1 h2, .link2 h2, .link3 h2{
	font-size: 1em;
	padding: 30px 5px;
	}
	footer{
		display: flex;
		flex-direction: column;/*Used to make items appear in column*/
		padding-left: 25px;
		height:190px;
		width: 100%;
	}
}